<div class="row text-center">
    <div class="col-md-6 offset-3">
        <h1 class="text-info">Достигнахте края на World Wide Web</h1>
        <hr />
        <a class="btn btn-outline-success" asp-controller="Home" asp-action="Index">Начало</a>
    </div>
</div>